<div class = "container">
    <!-- Footer -->
    <footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container">
 
        <a class="white-text text-lighten-4 left"href="https://news.js.org/" target="_blank">Data scraped from news.js.org</a> 
        <a class="white-text text-lighten-4 right" href="https://github.com/geekinterrupted/nicked-news" target="_blank">Github Repo</a>
      
        </div>
      </div>
    </footer>
</div>